@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap');

body {

  background-color: #0097ff;
	font-family: 'IBM Plex Mono', monospace;

}
			
nav {

  text-align: center;
  font-family: 'IBM Plex Mono', monospace;

}

pre {

  color: #000000;
  margin: auto;
  font-size: 36px;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;

}

h1 {

  margin: auto;
  font-size: 24px;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;

}

.nigger {

  text-align: center;
  width: 75%;
  margin: auto;
  align-content: center;

}

.ibm_cp {

  background-color: #ff0097;
  text-align: center;
  width: 102%;
  margin: auto;
  align-content: center;
  position: relative;
  left: -1%;
  padding-bottom: 8px;	
  padding-top: 4px;

}

.m4kulaturamusic {

  background-color: #360097;
  text-align: center;
  width: 102%;
  margin: auto;
  align-content: center;
  position: relative;
  left: -1%;
  padding-bottom: 8px;	
  padding-top: 4px;

}

.mario {

  background-color: #ff6500;
  text-align: center;
  width: 102%;
  margin: auto;
  align-content: center;
  position: relative;
  left: -1%;
  padding-bottom: 8px;	
  padding-top: 4px;

}

.other {

  text-align: center;
  width: 102%;
  margin: auto;
  align-content: center;
  position: relative;
  left: -1%;
  padding-bottom: 8px;	
  padding-top: 4px;

}

a {

  align: center;
  margin: auto;
  font-size: 24px;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;

}

p { 

  margin: auto;
  font-size: 24px;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;

}

img {

  height: auto;
  max-width: 50vh;


}
