@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap');

body {

  background-image: url(/noise_pattern_bg.png);
  text-align: center;
  height: 100%;
  width: 75%;
  background-repeat: repeat;
  background-attachment: fixed;
  margin: auto;

}

div {

  margin: auto;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  color: #FFFFFF;

}
			
nav {

  margin: auto;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  color: #ff6500;				

}

pre {

  color: #000000;
  margin: auto;
  text-align: left;
  font-family: 'IBM Plex Mono', monospace;

}

h1 {

  margin: auto;
  font-size: 24px;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  color: #FFFFFF;

}

#videoBG {

      position:fixed;
      z-index: -1;

}

a {

  align-content: center;
  margin: auto;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  color: #edb337;

}

time {

  align-content: center;
  margin: auto;
  font-size: 24px;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  color: #FFFFFF;

}

h2 {

  margin: auto;
  font-size: 18px;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;				
  color: #FFFFFF;

}

p {

  font-family: 'IBM Plex Mono', monospace;
  color: #FFFFFF;

}

li {

  font-family: 'IBM Plex Mono', monospace;
  color: #FFFFFF;

}

code {

  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  color: #FFFFFF;

}

img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

article {

	padding-left: 8px;
	padding-right: 8px;

	border-style: solid; border-color: #000; border-width: 8px; padding-bottom: 8px; padding-top: 8px; 

	background: rgb(43,59,125);
	background: -moz-linear-gradient(0deg, rgba(43,59,125,1) 0%, rgba(30,46,70,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(43,59,125,1) 0%, rgba(30,46,70,1) 100%);
	background: linear-gradient(0deg, rgba(43,59,125,1) 0%, rgba(30,46,70,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#070622,endColorstr=#2e558c,GradientType=1);


}
