@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap');

nav {

  margin: auto;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;

	max-width: 728px;

	border-style: solid; border-color: #000; border-width: 8px; padding-bottom: 8px; padding-top: 8px; 

	background: rgb(43,59,125);
	background: -moz-linear-gradient(0deg, rgba(43,59,125,1) 0%, rgba(30,46,70,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(43,59,125,1) 0%, rgba(30,46,70,1) 100%);
	background: linear-gradient(0deg, rgba(43,59,125,1) 0%, rgba(30,46,70,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#070622,endColorstr=#2e558c,GradientType=1);


}

.navbar {

	max-width: 728px;

	width:100%;

}

