body {
    background-color: black;
}

h1 {
  
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
    
}

.center {
  margin: auto;
  width: 50%;
  border: 5px solid cyan;
  padding: 10px;
}
