body {
    background-color:#000000
}

h1 {
    
    font-family: "Helvetica Neue";
    font-size: 72px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 36px;

    position: absolute;
    top: 20%;
    left: 2%;

}

p {
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 48px;
    
    position: absolute;
    top: 25%;
    left: 2%;
    
}

video {
    
    position: absolute;
    top: 0px;
    left: 0px;
    
}
