body {
    background-color: #efefef;
}

h1 {
  
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: black;
  size: 36px;
    
}

p1 {
    
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: black;
    size:12px;
    
}

.center {
    margin: auto;
    width: 50%;
    border: 5px solid lightpink;
    padding: 10px;
}

.menu {
    
    margin: auto, -webkit-auto;
    width: 80%;
    
}
