<link rel="stylesheet" type="text/css" href="/nav.css">
<div class="navbar">
  <nav class="nav justify-content-center" >

	  <a href="/index.html">Home</a> 
	  &bull;
	  <a href="/blog">Blog</a> 
	  &bull;

	  <a href="/music/">Music</a> 
	  &bull;
	  <a href="https://www.youtube.com/channel/UCUc3Y7iwaDpzUdUpmbeP3uw">Youtube</a> 
	  &bull;
	  <a href="/kektech/">kektech</a> 
	  &bull;
    	  <a href="/about/">About Me</a>

  </nav>
</div>
<link rel="stylesheet" type="text/css" href="/blog.css">
<header><h1>wiki template</h1></header>
<article>
<p><em>a basic summary</em></p>
<h1 id="info">Info:</h1>
<h1 id="related-to">Related to:</h1>
<p><em>more detailed info</em></p>
<h2 id="likes">Likes:</h2>
<ul>
<li></li>
<li></li>
<li></li>
</ul>
<h2 id="hates">Hates:</h2>
<ul>
<li></li>
<li></li>
<li></li>
</ul>
<h1 id="annotations">Annotations:</h1>
<br>
<br>
<br>
<a>me and my friends: <a>
<a href="https://sugary.kemonomimi.gay" target="_blank"><img src="/sugary_button.gif" style="display: inline; margin:auto; width:auto;"></a>
<a href="index.html" target="_blank"><img src="/m4k_button.gif" style="display: inline; margin:auto; width:auto;"></a> <br>
<a>made by m4kulatura</a> <br>

