@keyframes welcome-text{
    0%{
      transform: translateX(-100%);  
    }
    50%{
      transform: translateX(0); 
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes body{
    0%{
      transform: translateX(-100%);  
    }
    50%{
      transform: translateX(-100%); 
    }
    100%{
        transform: translateX(0);
    }
}