@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --dark: #211e20;
    --dark-lighter: #555568;
    --light: #e9efec;
    --light-darker: #96964f;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,
.body{
    width: 100%;
    height: 100vh;
    background-color: var(--dark);
    color: var(--light);
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: var(--light-darker);
    transition: 0.1s;
}
a:hover{
    letter-spacing: 1px;
}
